# ---> Go
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# vscode
.vscode
.history

# 临时文件
/log
/tmprun
/test.go
/main.go
/main
/output

# 本地代码检测配置和githook脚本
.githooks
.golangci.yml

.idea
.idea - 副本
*.log

td-log-data
tool_out
*.pyc


